*{
    box-sizing: border-box;
}


nav{
    background-color: #1F2937;
    overflow: hidden;
   

}
#logo{
    font-family: popins;
    color: #F9FAF8;
    align-self: center;
    width: 20%;
    font-size: 15px;
    text-align: center;
    margin-left: 3px;
   
   

}

ul{
    display: flex;
    list-style-type: none;
    justify-content: end;
    gap: 18px;
    padding: 10px;
    margin: 15px

}
li{
    color: #F9FAF8;
    font-size: 24px;
    font-family: popins;
    

}
header{
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    background-color:#1F2937 ;
    flex-wrap: wrap;
    
}
.hero{
    width: 25%;
    border-radius: 5px;
    margin: 10px;
    
}
.sign-in{
    width: 105px;
    height: 40px;
    margin-left: 25px;
    border-radius: 10px;
    background-color: #3882F6;
    color: #F9FAF8 ;
}
#text{
    text-align: center;
    width: 25%;
    margin: 15;
    padding: 15px;
    flex-grow: 2;
    
    
}
.title{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}
p{
    font-size: 18px;
    color: #E5E7EB;
}
h2{
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-family: Poppins;
    

}

.cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 40px;
}
img{
    
    border-radius: 5px;
    margin:0;
    padding: 0;
    height: 150px;
    width: 150px;
    
}
.text{
    text-align: center;
    color: #1F2937;
    font-style: italic;
    font-weight: bolder;
    font-size: 18px;
}
.quote{
    height: 45%;
    width:100%;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    display: flex;


}
.quote-wrapper{
    margin-top: 100px;
    text-align: center;
    font-style: italic;
}
h3{
    display: flex;
    justify-content: flex-end;
    margin-right: 8px;
    margin-bottom: 30px;
}
.cta{
    height: 200px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center

}
.cta-wrapper{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    background-color: #3882F6;
    width:50em ;
    border-radius: 5px;
    text-align: center;
}
.cta-text{
    text-align: center;
    margin-left: 15px;
}
h5{
    text-align: center;
    color: aliceblue;
    margin: 45px;
    padding: 25px;
    border: 1px solid white;
    border-radius: 50%;
}
footer{
    height: 80px;
    background-color: #1F2937; 
    
    
}
.end{
    display: flex;
    justify-content: center;
    color: #E5E7EB;
    font-size: 20px;
    text-align:center;
    
}
